macos/Nursor.app
macos/build_temp
macos/nursor-core
macos/output
.DS_Store
.vscode
.idea
.env
.env.local
.env.development.local
.env.test.local
windows/nursor_app.exe
windows/nursorcore_plugin.dll
windows/screen_retriever_plugin.dll
windows/sentry.dll
windows/tray_manager_plugin.dll
windows/window_manager_plugin.dll
windows/flutter_windows.dll
windows/data
Output/
