<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.nursor.nursor-core</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/Application Support/Nursor/nursor-core</string>
    </array>

    <key>MachServices</key>
    <dict>
        <key>org.nursor.nursor-core</key> 
        <true/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/var/log/nursor-core.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/nursor-core.log</string>
    <key>LaunchOnlyOnce</key>
    <true/>
</dict>
</plist>